*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* navbar */

.navbar {
  height: 9vh;
  background-color: rgb(66, 247, 168);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightnav {
  margin-right: 2rem;
  display: flex;
}

.rightnav > a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.company {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3em;
  display: flex;
  text-align: center;
  color: rgb(0, 0, 0);
}

.stupidNavLink {
  text-decoration: none;
  color: black;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  height: 110px;
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 70px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 90px;
  background: #c8bdb3;
  height: 35vh;
  width: 190px;
  max-width: 500px;
  transform: translate(-200%);
  display: flex;
  flex-direction: column;

  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;
  text-decoration: none;
  list-style-type: none;
}

.navbar .menu-items li {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar .menu-items li a {
  text-decoration: none;
  color: white;
}

.navbar-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}

/* footer */

.footer {
  list-style-type: none;
  background-color: rgb(232, 205, 172);
  display: flex;

  width: 100%;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
  z-index: 10;
  height: 70px;
  bottom: -20px;

  transition-duration: 0.5s;
}

/* .footer:hover {
  height: 100px;
} */
.footer li a {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

/* Homepage */
.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../Server/images/mountains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-color: #ded1d1;
}

.homepage-title {
  font-size: 3rem;
  color: rgb(1, 1, 1);
  margin-bottom: 20px;
}

.homepage-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.homepage-footer {
  margin-bottom: 30vh;
}

.discover-button {
  width: 600px;
  height: 110px;
  background-color: aquamarine;
  border: solid 3px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 50%;
  font-size: 3rem;
}

/* webshop */

.products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Automatically adjust columns */
  grid-gap: 20px; /* Adjust the gap between products */
  padding: 10px;
  overflow-y: auto; /* Allow vertical scrolling */
  width: 70%;
}

.products {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Adjust the gap between products */
}

.product {
  box-sizing: border-box;
}

.productImage {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

.productDescription {
  text-align: center;
}
/* CSS for sticky container */
.sticky-container {
  position: fixed;
  top: 12vh;
  right: 5px;
  width: 25%;
  margin-right: 20px;
}

.sticky-div {
  position: sticky;
  top: 20px; /* Adjust as needed */
  z-index: 100;
}

.sticky-image {
  display: block;
  width: 100%;
  max-width: 500px; /* Adjust image width as needed */
  height: 60vh;
  margin-bottom: 10px;
  border: 2px solid black;
}

.dots-container {
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Team and Mission:  */

.TeamMission {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.TeamMission h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.TeamMission .Mission {
  color: rgb(66, 247, 168); /* You can change this to your desired color */
}

.TeamMission p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

/* cart */

.Cart {
  margin: left 20px;
  background-color: bisque;
}

.CartImage {
  width: 15%;
  height: auto;
}

.CartInfo {
  text-align: center;
}

.CartOversight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Buttons button {
  height: 3vh;
  margin: 5px;
}

.Buttons:last-child {
  margin-right: 100px;
}

/* register page */

.form_container {
  text-align: center;
  margin-top: 40vh;
}

.checkout_container {
  width: 80%;
  margin: 0 auto;
}

.button {
  color: white;
  background-color: #919799;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.2em;
  padding: 1em;
}

.total {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.header {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.products_list {
  width: 100%;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.product_container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: 5vh;
}

.message_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message_box {
  width: 30%;
  height: 25%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border-radius: 0.4em;
}

.message_box_left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_box_right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.cart {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cart h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.CartOversight {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.CartImage {
  width: 100px;
  height: auto;
  margin-right: 1.5rem;
  border-radius: 5px;
}

.CartInfo {
  flex-grow: 1;
}

.CartInfo h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Buttons button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f5f5;
  color: #020202;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Buttons button:hover {
  background-color: #94cf9c;
}

.ProductsInfo {
  margin-top: 2rem;
}

.ProductsInfo p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #333;
}

.ProductsInfo h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.ProductsInfo button {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ProductsInfo button:hover {
  background-color: #218838;
}

.ContinueShopping a:hover {
  color: #0056b3;
}

.pay-now-container {
  text-align: center;
  margin-top: 2rem;
}

.pay-now-container button {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-now-container button:hover {
  background-color: #218838;
}

.subscribe-btn {
  background-color: #a9b8c8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.subscribe-btn:hover {
  background-color: #28a745;
}

.subscribe {
  display: flex;
  justify-content: space-around;
}

/* FAQs */
.footertitle {
  font-family: "intro";
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: rgba(117, 87, 75, 1);
  letter-spacing: 4px;
  padding-bottom: 5px;
}

.footersections {
  width: 40%;
  display: block;
  flex-direction: column;
  margin: auto;
}

.footersections h2 {
  display: block;
  color: rgba(111, 111, 111, 1);
  width: 100%;
  font-weight: 900;
  padding-right: 5px;
  font-size: 22px;
  font-family: "intro";
  text-align: center;
  padding-left: 5px;
  margin-bottom: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footersections section {
  color: rgba(111, 111, 111, 1);
  width: 100%;
  height: auto;
  font-weight: 400;
  padding-right: 5px;
  font-size: 14px;
  font-family: "intro";
  min-width: 200px;
  text-align: left;
  padding-left: 5px;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
}

.contact-us {
  margin-bottom: 100px;
}

/* login page */

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(rgb(66, 247, 168), #9dd7d6);
  left: -80px;
  top: -60px;
}
.shape:last-child {
  background: linear-gradient(to right, #e5d5bf, rgb(232, 205, 172));
  right: -30px;
  bottom: -60px;
}
.loginform {
  height: 550px;
  width: 350px;
  background-color: rgba(38, 7, 7, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.loginform * {
  font-family: "Poppins", sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.logintitle {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginlabel {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.logininput {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.loginbutton {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #030303;
  text-align: center;
}
.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
}
